<p>
<section id="new" class="home-section text-center bg-gray">
    <div class="heading-about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                    <h2>Last added books</h2>
                    <i class="fa fa-2x fa-angle-down"></i>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- output -->
<section>
    <div class="container">
        <div class="row">
            <img src= />
            <div>
                <h5><%= @author %></h5>
                <h3><%= @title %></h3> 
                <p><%= @year.to_s %>,  <%= @publisher %></p>
            </div>
        </div>
    </div>
</section>

</p>